extends layout

block content
    table.table.table-striped.table-primary
        thead
            tr
            th(scope='col') Base
            th(scope='col') X
            th(scope='col') Resultado
        tbody
            tr
                td=numero[0]
                td="1"
                td=numero[0]
            tr
                td=numero[0]
                td="2"
                td=numero[1]
            tr
                td=numero[0]
                td="3"
                td=numero[2]
            tr
                td=numero[0]
                td="4"
                td=numero[3]
            tr
                td=numero[0]
                td="5"
                td=numero[4]
            tr
                td=numero[0]
                td="6"
                td=numero[5]
            tr
                td=numero[0]
                td="7"
                td=numero[6]
            tr
                td=numero[0]
                td="8"
                td=numero[7]
            tr
                td=numero[0]
                td="9"
                td=numero[8]
            tr
                td=numero[0]
                td="10"
                td=numero[9]
            tr

